body{
	background-color:#EAEAEA;
	text-align: center;
	font-family:'Lucida Grande','Lucida Sans Unicode',Tahoma,Arial,san-serif;
	font-size:11.5px;
	line-height:21px;
}
p {
	line-height:1.6em;
	padding:5px 0 10px;
}
ul {
	list-style-image:none;
	list-style-position:inside;
	list-style-type:disc;
}
li {
	margin-bottom:4px;
}
a:link, a:visited, a:active{
	color: #EF3C40;
}
a:hover{
	color: #c53033;
	text-decoration: none;
}
#wrapper{
	margin: 30px auto;
	text-align: left;
	width:650px;
}
#header{
	margin-bottom: 10px;
	position: relative;
}
#content {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background:#FFF none repeat scroll 0 0;
	border:1px solid #CBCBCB;
}
h1{
	color:#ef3c40;
	font-size: 32px;
	font-weight: normal;
	line-height: 38px;
}
h3{
	color:#444444;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
	border-bottom:1px solid #DDDDDD;
	font-weight: normal;
}
label{
	font-weight: bold;
	width: 200px;
	display: block;
}
.content{
	float: left;
	padding: 15px;
	border-bottom: solid 1px #DDD;
	width: 620px;
}
.header{
	background:#E5E5E5 url(../images/content-header.gif) repeat-x;
	height:40px;
	margin-top:1px;
	border-bottom: solid 1px #ccc;
}
.header h2{
	cursor:s-resize;
	float:left;
	padding: 8px 15px;
	margin: 0px;
	font-size:17px;
	color: #444;
}
ul#navigation {
	position: absolute;
	right: 0px;
	top: 40px;
	width: 350px;
	text-align: right;
}
#navigation li{
	list-style-type:none;
	list-style:none;
	line-height: 14px;
	display: inline;
	font-size: 12px;
}
#navigation a:link, #navigation a:visited, #navigation a:active{
	color: #888;
	text-decoration: none;
	padding: 2px 8px;
}
#navigation a:hover{
	color: #555;
}
#navigation li.active a{
	color: #555;
	font-weight: bold;
}
.spacer{
	clear: both;
}

ul.tabs{
	float:right;
	margin:8px 15px 0px 0px;
	padding:0;
	height: 20px;
}
.tabs li{
	list-style-type:none;
	list-style:none;
	line-height: 16px;
	display: inline;
	font-size: 12px;
}
.tabs a:link, .tabs a:visited, .tabs a:active{
	color: #555;
	background-color: #DDD;
	text-decoration: none;
	padding: 3px 8px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	font-weight: bold;
	border:1px solid #BBB;
	display: block;
	text-align: center;
	float: left;
	margin-left: 5px;
}
.tabs a:hover{
	background-color: #CBCBCB;
	color: #414142;
}
.tabs li.active a{
	background-color: #231f20;
	color: #FFF;
	border:1px solid #231f20;
}
.tabs li a img{
	margin-right: 5px;
}

a.button {
	text-decoration: none;
}
.button {
	background:#e83539 url(../images/button.gif) repeat-x scroll left top !important;
	border:1px solid #e83539 !important;
	color:#FFFFFF !important;
	cursor:pointer;
	display:inline-block;
	font-family:Verdana,Arial,sans-serif;
	font-size:11px !important;
	padding:4px 7px !important;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	width: auto !important;
}
.button:hover {
	text-decoration:underline;
}

.yellowbox {
	border:1px solid #DCD783;
	margin:15px 0;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	padding: 8px 38px;
	color: #E89326;
	font-weight: bold;
	background-attachment: scroll;
	background-color: #F4EF9A;
	background-image: url(../images/icons/error.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.redbox {
	border:1px solid #E09799;
	margin:15px 0;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	padding: 8px 38px;
	color: #CC0000;
	font-weight: bold;
	background-attachment: scroll;
	background-color: #FFB5B5;
	background-image: url(../images/icons/cross.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.bluebox {
	border:1px solid #a2b4ee;
	margin:15px 0;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	padding: 8px 38px;
	color: #4985B2;
	font-weight: bold;
	background-attachment: scroll;
	background-color: #DBE3FF;
	background-image: url(../images/icons/exclamation.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

.greenbox {
	border:1px solid #9ADF8F;
	margin:15px 0;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	padding: 8px 38px;
	color: #5A801B;
	font-weight: bold;
	background-attachment: scroll;
	background-color: #D5FFCE;
	background-image: url(../images/icons/accept.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}


table tbody tr td{
	padding: 2px 5px;
	border-bottom:1px solid #DDD;
}
table thead tr th{
	font-size: 12px;
	padding: 2px 5px;
	color:#444444;
	border-bottom:2px solid #CCC;
}


form input, form textarea, form select {
	border:1px solid #DDD;
	color:#282828;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:5px 0 0;
	padding:6px 0 6px 6px;
	width:70%;
}

form li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

.error label {
	color:#CC0000;
	font-weight:bold;
}
form label {
	color:#282828;
	cursor:pointer;
	display:block;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:4px 10px 0 0;
}
.requiredlabel {
	color:#1E7E03;
	font-size:10px;
	font-weight:normal;
	padding-left:5px;
}
form legend {
	color:#A0A0A0;;
	font-size:13px;
	font-weight:bold;
	text-align:left;
}
form fieldset {
	background-color:#F2F2F2;
	border:medium none;
	margin-top:10px;
	padding:10px 20px 20px;
	position:relative;
}
form .errormessage {
	color:#CC0000;
	display:block;
	font-size:10px;
	font-style:italic;
	padding:3px 0;
}
form .description {
	color:#444;
	display:block;
	font-size:10px;
	font-style:italic;
	padding:3px 0px 0px 0px !important;
	border: none !important;
	margin: 0px !important;
}

#form{
	border: dashed 1px #ff0000;
	padding: 15px;
	margin: 15px 0px;
}
#form ul{
	list-style: none;
}

#form .element{
	background-repeat: no-repeat;
	background-position: 15px 10px;
	padding: 5px 5px 5px 40px;
	margin: 0px;
	background-color: #F1F1F1;
	border:1px solid #DDDDDD;
	position: relative;
	margin-bottom: 4px;
}
#form .element span{
	position: absolute;
	top: 4px;
	right: 15px;
}
#form .element div{
	border:1px solid #DDDDDD;
	background-color: #F8F8F8;
	margin-top: 10px;
	padding: 10px;
}
#form li.textfield, #form li.passwordfield{
	background-image: url(../images/textfield.gif);
}
#form li.hiddenfield{
	background-image: url(../images/hiddenfield.gif);
}
#form li.textarea{
	background-image: url(../images/textarea.gif);
}
#form li.checkbox{
	background-image: url(../images/checkbox.gif);
}
#form li.radiobutton{
	background-image: url(../images/radiobutton.gif);
}
#form li.list{
	background-image: url(../images/list.gif);
}
#form li.dropdown{
	background-image: url(../images/dropdown.gif);
}
#form li.filefield{
	background-image: url(../images/filefield.gif);
}
#form li.fieldset{
	background-image: url(../images/fieldset.gif);
}
#form li.btn{
	background-image: url(../images/btn.gif);
}

#source{
	background-color:#F2F2F2;
	padding: 15px;
	border: solid 1px #EEE;
	margin: 10px 0px;
}

